*{
      margin:0;
      padding:0;
}

.myHeader {
    margin-bottom:10px;
    padding:0;
    text-align: center;
    color: #E9A20B;
    font-family: "Heiti SC";
    font-size: 40px;
    font-weight: bold;
    background-image: url("static/images/wood-green.jpg");
    background-attachment: fixed;
    border-radius: 15px;
    height: 70px;
}

div{
    font-size: 18px;
    line-height: 26px;
}

.myAbout{
    margin:0;
    padding:0;
    background-image: url("static/images/wood-sand.jpg");
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    font-style: italic;
    color: #E9A20B;
    font-family: "Euphemia UCAS";
}

.content-body{
    padding: 15px;
}

#mcb1{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#sideBarContainer{
    margin-left: 5px;
    background-color: #FFFFFF;
    border: none;
    margin-bottom: 5px;
}

ul,li{
    list-style: none;
    text-align: center;
}

#addCategorySide{
    width: 100%;
    position: center;
    border: none;
    background-color: transparent;
    font-family: Courier;
    color: black;
}

#addCategorySide:hover{
   font-size: 20px;
    color: red;
}

#list_a{
    margin:0;padding:0;
    text-indent: -20%;
    font-family: "Academy Engraved LET";
    /*color: rgba(2, 2, 2, 0);*/
    color: black;
    font-size: 30px;
    line-height: 50px;
    width: 300px;
    display:inline-block;
    border: none;
}

#list_a:hover{
    color: #FFFFFF;
    text-align: center;
}

#sidebarList{
    background-image: url("static/images/sidebar.jpg");
    border-radius: 15px;
    background-size:cover;

}

#welcome_header_container{
    margin-right: 10px;
    background-color: #FFFFFF;
}

#welcome_header{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 50px;
    width: auto;
    height: 550px;
    position: relative;
    background-position: 0 80%;
    zoom: 90%;
    background-image: url("static/images/elephant.jpg");
    border-radius: 15px;
    background-size:cover;
}

#welcome_header h1{
    color: #E9A20B;
    font-family: "Microsoft YaHei";
}

#welcome_header span{
    color: #E9A20B;
    font-size: 40px;
    font-family: Courier;
}

.map-guide{
    color: black;
    position: center;
    font-family: Courier;
}

.pic_display img{
    display: inline;
    width: 24%;
    height: 230px;
    border-radius: 15px;
}

#indexBottom{
    border-radius: 20px;
    margin-bottom: 5px;
    background: peru;
}

#indexBottom span{
    border-radius: 20px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
    width: 18%;
    background-color: peru;
    display: inline-block;
}

#indexBottom span:hover{
    background-color: orange;
}

#indexBottom .s1{
    width: 25%;
}

.container{
    border-radius: 20px;
    margin: 0;
    background-image: url(static/images/wood-sand.jpg);
}
.registrationBody{
    background-image: url(static/images/wood-sand.jpg);
    border-radius: 0px;
    margin-left: 0px;
}
.col-md-6 .card-body h5{
    color: black;
    text-align: center;
    margin-bottom: 5px;
    background-image: url(static/images/wood-sand.jpg);
    font-family: 'American Typewriter';
}

#indexList{
    background-image: url(static/images/wood-green.jpg);
    text-align: center;
    font-family: 'American Typewriter';
    font-size: 25px;
    border-radius: 15px;
}

#indexList a:hover{
    color: #E9A20B;
}

#addCategory{
    color: #FFFFFF;
    background-image: url(static/images/wood-green.jpg);
    height: 25%;
}

.jumbotron-heading{
    color: #E9A20B;
    font-size: 60px;
    font-family: "Hiragino Sans";
}
.registrationHeading{
    background: #E9A20B;
    color: #FFFFFF;
}
#btnSubmit{
    background: #E9A20B;
    color: #FFFFFF;
}

#btnSubmit:hover{
    background: darkgoldenrod;
    color: #FFFFFF;
}

.addCategoryForm{
    background-image: url("static/images/wood-sand.jpg");
    color: black;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    font-family: "Heiti SC";
    padding-top: 3%;
    padding-left: 30%;
    height: 300px;
    border-radius: 15px;
}

.updateProfile{
    color: #E9A20B;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 50px;
}

#profileHeader{
    margin: 0 10px 10px 0;
    padding-top:0;
    height: 220px;
    background-position: -140px -240px;
    border-radius: 15px;
    background-image: url("static/images/birds.png");
}

#profileBody{
    border-radius: 15px;
    border: 10px #333333;
    margin: 0 0 10px;
}

#profileBodyPic{
    margin: 15px 15px 15px 60px;
}

#profileBottom{
    margin-right: 10px;
    border-radius: 15px;
    height: 220px;
    background-position: -50px -370px;
    background-image: url("static/images/fish.png");
}

#listProfilesHeader{
    margin-bottom: 10px;
    padding:0;
    border-radius: 15px;
    height: 320px;
    background-position: -50px -1000px;
    background-image: url("static/images/listProHe.png");
}

#listProfilesBody{
    margin-right: 5px;
    width:49%;
	float:left;
}

#listProfiles{
    border-style: none;
    background-image: url(static/images/wood-sand.jpg);
}

#listProfiles:hover{
    color: #E9A20B;
}

#listProfilesDecorator{
    border-radius: 15px;
    width: 50%;
    height: 60%;
    background-position: -90px -40px;
	background-image: url(static/images/panda.png);
	float:right;

}

.changePassword{
    border-radius: 15px;
    padding: 20px;
    background-color: khaki;
    margin-bottom:10px;
}

.changePasswordDecorator{
    height: 120%;
    background-position: -700px -1500px;
    background-image: url(static/images/deer.png);
    border-radius: 15px;
    background-size:cover;

}

#aboutBottomPic img{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#addAnimalHeader, #animalProfileHeader{
    margin-bottom: 10px;
    margin-right: 10px;
    background-image: url(static/images/wood-green.jpg);
}

#animalProfileContainer{
    margin: 0;
    border-radius: 15px;
}

#addAnimalBody{
    margin: 0;
    border-radius: 15px;
    padding: 40px;
}

#animalProfilePic{
    border-radius: 15px;
}

#animalProfilePic img{
    color: #E9A20B;
    position: center;
    padding: 20px;
    border-radius: 15px;
}

#comment-area #comment-area-header{
    color: #E9A20B;
}

.comment-list-panel{
    padding: 20px;
}

#registrationHeading{
    border-radius: 15px;
    color: #E9A20B;
    font-family: "Heiti SC";
    background-image: url(static/images/wood-green.jpg);
    margin-bottom: 10px;
}

#registrationForm{
    padding: 10px 10px 10px 20px;
}

#loginHeader{
    text-indent: 8px;
    border-radius: 15px;
    color: #E9A20B;
    font-family: "Heiti SC";
    background-image: url(static/images/wood-green.jpg);
    margin: 0 0 10px;
    padding: 0;
    height: 50px;
}

#loginBody{
    margin: 0;
    border-radius: 15px;
    height: 590px;
    background-image: url(static/images/loginpic.jpg);
}