*{
      margin:0;
      padding:0;
}

#icon{
    margin-left: 15px;
    width: 42px;
    height: 42px;
    background-image: url("static/images/icon.png");
    border: none;
}

#navDec1,#navDec2,#navDec3,#navbarDropdown1,#navbarDropdown2{
    width: 170px;
    color: black;
    font-family: Courier;
    font-weight: bold;
}

#navDec1{
    background-color: #d38b50;
}

#navDec2{
    background-color: #f7f1e6;
}

#navDec3{
    background-color: #d8be8d;
}

#navbarDropdown1{
    background-color: #85c9ab;
}

#navbarDropdown2{
    background-color: #4da17c;
}

#navDec1:hover,#navDec2:hover,#navDec3:hover,#navbarDropdown1:hover,#navbarDropdown2:hover{
    color: #E9A20B;
}

#navDec5{
    font-family: Courier;
    text-align: center;
}

#navDec5:hover{
    color: #E9A20B;
}

.myHeader {
    margin-bottom:10px;
    padding:0;
    text-align: center;
    color: #E9A20B;
    font-family: "Heiti SC";
    font-size: 40px;
    font-weight: bold;
    background-image: url("static/images/wood-green.jpg");
    background-attachment: fixed;
    border-radius: 15px;
    height: 70px;
}

div{
    font-size: 18px;
    line-height: 26px;
}

.myAbout{
    margin:0;
    padding:0;
    background-image: url("static/images/wood-sand.jpg");
}

h2{
    text-align: center;
}

h3{
    text-align: center;
    font-style: italic;
    color: #E9A20B;
    font-family: "Euphemia UCAS";
}

.content-body{
    padding: 15px;
}

#mcb1{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#sideBarContainer{
    margin-top: -5px;
    margin-left: 15px;
    border: none;
    margin-bottom: 5px;
}

#sidebarList{
    margin: 0;
    padding: 0;
    background-image: url("static/images/sidebar.jpg");
    border-radius: 15px;
    background-size:cover;
}

#categoriesTitle{
    margin: 0;
    padding-top: 10px;
    text-align: center;
    position: center;
    font-family: Courier;
    color: black;
}

ul, li{
    list-style: none;
    text-align: center;
}

.changePassword ul li{
    text-align: left;
}


#addCategorySide{
    width: 100%;
    position: center;
    border: none;
    background-color: transparent;
    font-family: Courier;
    color: black;
}

#addCategorySide:hover{
   font-size: 20px;
    color: red;
}

#list_a{
    margin: 0;
    padding: 0;
    text-indent: -20%;
    font-family: "Academy Engraved LET";
    color: black;
    font-size: 30px;
    display:inline-block;
    border: none;
    text-align: center;
}

#list_a:hover{
    color: #FFFFFF;
    text-align: center;
}

#welcome_header_container{
    margin-right: 10px;
}

#welcome_header{
    padding-top: 10px;
    padding-left: 10px;
    font-size: 50px;
    width: auto;
    height: 550px;
    position: relative;
    margin-bottom: 20px;
    background-position: 0 80%;
    /*zoom: 90%;*/
    background-image: url("static/images/elephant.jpg");
    border-radius: 15px;
    background-size:cover;
}

#welcome_header h1{
    color: #E9A20B;
    font-family: Courier;
}

#welcome_header span{
    color: #E9A20B;
    font-size: 40px;
    font-family: Courier;
}

.map-guide{
    color: black;
    position: center;
    font-family: Courier;
}

.pic_display img{
    display: inline;
    width: 24%;
    height: 230px;
    border-radius: 15px;
}

#indexBottom{
    border-radius: 15px;
    margin-bottom: 5px;
    background: peru;
}

#indexBottom span{
    font-family: Courier;
    border-radius: 20px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
    width: 18%;
    background-color: peru;
    display: inline-block;
}

#indexBottom span:hover{
    background-color: orange;
}

#indexBottom .s1{
    margin-left: 10px;
}

#indexBottom .s3{
    width: 22%;
}

.container{
    border-radius: 20px;
    margin: 0;
    background-image: url(static/images/wood-sand.jpg);
}
.registrationBody{
    background-image: url(static/images/wood-sand.jpg);
    border-radius: 0px;
    margin-left: 0px;
}
.col-md-6 .card-body h5{
    color: black;
    text-align: center;
    margin-bottom: 5px;
    background-image: url(static/images/wood-sand.jpg);
    font-family: 'American Typewriter';
}

#indexList{
    background-image: url(static/images/wood-green.jpg);
    text-align: center;
    font-family: 'American Typewriter';
    font-size: 25px;
    border-radius: 15px;
}

#indexList a:hover{
    color: #E9A20B;
}

#addCategory{
    background-image: url(static/images/wood-green.jpg);
    height: 20%;
}

.jumbotron-heading{
    margin: 0;
    color: #E9A20B;
    font-size: 40px;
    font-family: "Hiragino Sans";
}
.registrationHeading{
    background: #E9A20B;
    color: #FFFFFF;
}
#btnSubmit{
    background: #E9A20B;
    color: #FFFFFF;
}

#btnSubmit:hover{
    background: darkgoldenrod;
    color: #FFFFFF;
}

.addCategoryForm{
    background-image: url("static/images/wood-sand.jpg");
    color: black;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    font-family: "Heiti SC";
    padding-top: 3%;
    /*padding-left: 30%;*/
    height: 300px;
    text-align: center;
    border-radius: 15px;
}

#addCategoryBottomDec{
    margin-top: 10px;
    min-height: 320px;
    /*visibility: hidden;*/
}

#test1 body{
    overflow: hidden;
}

.updateProfile{
    /*color: #E9A20B;*/
    font-weight: bolder;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 50px;
    /*padding-right: 50px;*/
}

#profileHeader{
    margin: 0 10px 10px 0;
    min-height: 100px;
    width: 100%;
    border-radius: 15px;
    background-image: url("static/images/wood-green.jpg");
    text-align: center;
}

#profileBody{
    border-radius: 15px;
    border: 10px #333333;
    margin: 0 0 10px;
}

#profileBodyPic{
    margin: 15px 15px 15px 50px;
}

#profileBottom{
    margin-right: 10px;
    border-radius: 15px;
    min-height:310px ;
    width: 100%;
    background-position: -50px -370px;
    background-image: url("static/images/fish.png");
}

#profileBottomDec{
    overflow: hidden;
    visibility: hidden;
    min-height: 150px;
}

#listProfilesHeader{
    margin-bottom: 10px;
    padding:0;
    border-radius: 15px;
    height: 80%;
    background-position-y: 52%;
    background-image: url("static/images/wood-green.jpg");
    text-align: center;
}

#listProfilesContainer{
    min-height: 820px;
}

#listProfilesBody{
    margin-right: 5px;
    width:49%;
	float:left;
}

#listProfiles{
    border-style: none;
    background-image: url(static/images/wood-sand.jpg);
}

#listProfiles img:hover{
    border-style: solid;
    border-width: 3px;
    border-color: red;
}

#listProfilesDecorator{
    border-radius: 15px;
    width: 50%;
    min-height: 355px;
    height: 60%;
    background-position-x: 90%;
    background-position-y: 50%;
	background-image: url(static/images/panda.png);
	float:right;
}

.changePassword{
    text-align: left;
    border-radius: 15px;
    padding: 20px;
    background-color: khaki;
    margin-bottom:10px;
}

.changePasswordDecorator{
    min-height: 450px;
    background-position-y: 70%;
    background-image: url(static/images/deer.png);
    border-radius: 15px;
    background-size:cover;
    margin-bottom: 5px;
}

#aboutBottomPic img{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#addAnimalHeader, #animalProfileHeader{
    margin-bottom: 10px;
    border-radius: 15px;
    background-image: url(static/images/wood-green.jpg);
}

#animalProfileContainer{
    margin: 0;
    border-radius: 15px;
}

#addAnimalBody{
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 40px;
}

#animalProfilePic{
    margin-left: 35%;

    border-radius: 15px;
}

#animalProfilePic img{
    padding: 20px;
}

#likeButton{
    margin-top: 12%;
    margin-right: 8%;
}

#clp{
    position:relative;
    left:50%;
    width:800px;
    height:400px;
    margin-left:-400px;
    display: block;
}

#clp li{
    min-width: auto;
    font-family: Charter;
    border-width: 2px;
    border-color: #E9A20B;
    /*margin-left: 30%;*/
    text-align: center;
}

#comment-area{
    margin-top: 10%;
}

#comment-area #comment-area-header{
    color: #E9A20B;
}

.comment-list-panel{
    padding: 20px;
}

#comment-notice{
    margin-top: -5%;
}

#registrationHeading{
    border-radius: 15px;
    color: #E9A20B;
    font-family: "Heiti SC";
    background-image: url(static/images/wood-green.jpg);
    margin-bottom: 10px;
}

#registrationForm{
    padding: 10px 10px 10px 20px;
    margin-bottom: 60px;
}

#form-group-input{
    border-style: solid;
    border-width: 3px;
    border-color: #E9A20B;
}

#registrationForm_step2{
    padding: 50px;
    min-height: 650px;
    margin-bottom: 20px;
}

#loginHeader{
    text-indent: 8px;
    border-radius: 15px;
    color: #E9A20B;
    font-family: "Heiti SC";
    background-image: url(static/images/wood-green.jpg);
    margin: 0 0 10px;
    padding: 0;
    height: 50px;
}

#loginBody{
    margin: 0;
    border-radius: 15px;
    height: 610px;
    background-image: url(static/images/loginpic.jpg);
}

#searchContainer{
    background-image: url("static/images/wood-sand.jpg");
    border-radius: 15px;
    min-height: 660px;
    margin-bottom: 10px;
}

#categoryTitle{
    padding-left: 10px;
    color: #E9A20B;
    font-size: 30px;
    font-family: "Heiti SC";
    background-image: url("static/images/wood-green.jpg");
    text-align: center;
    border-radius: 15px;
    line-height: 60px;
    margin-bottom: 20px;
}

#suggestion{
    width: 500px;
    margin-left: 28%;
    margin-top: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: #E9A20B;
}

#searchBody{
    margin-top: 10px;
}

#noAnimalInCategory{
    padding-left: 20px;
}

#addAnimalButton{
    padding: 20px;
}

#numOfVisit{
    font-family: "Heiti SC";
    float: right;
    padding: 20px;
}

#backgbody{
    background: url(static/images/bgbody_4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#galleryTitle{
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("static/images/wood-green.jpg");
    font-family: "Heiti SC";
    font-size: 30px;
    color: #E9A20B;
    line-height: 60px;
    border-radius: 15px;
}

#bottomDec{
    min-height: 160px;
}

#Password_changed{
    visibility: hidden;
}

#Password_changed_notification{
    font-family: "Heiti SC";
    font-size: 30px;
    color: #E9A20B;
    padding-top: 100px;
    padding-bottom: 650px;
    text-align: center;
}