{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}

    <h1 class="myheader">About Our Zoo</h1>
    <div class="myabout">
        North Park Zoo is owned by The Royal Zoological Society of Scotland (RZSS). The Society was founded in March 1909, and the Zoo opened in July 2003.<br><br>
        Set in 63 acres of sloping parkland, the Zoo is situated six miles to the north of Glasgow city centre.<br><br>
        Apart from getting close to over 1,000 rare and endangered animals, there are many different ways to enjoy your day out.<br><br>
        You can experience a busy programme of educational events and activities - ranging from keeper talks through to hands-on animal encounters - and a wide-range of eating experiences, several play areas and a fantastic gift shop.<br><br><br>
    </div>

    <h2 class="myabout">Mission</h2>
    <h3 class="myabout">'Connecting people with nature. Safeguarding species from extinction.'<br><br></h3>

    <h2 class="myabout">Conservation, Education and Research</h2>
    <div class="myabout">
    North Park Zoo is one of Europe's leading centres of conservation, education and research. We work collectively with many other zoos and conservation agencies in the UK, Europe and around the world in co-ordinated conservation programmes, to help ensure the survival of many threatened animal species. We support various conservation projects in the wild through funding and expertise.<br><br>
    Our extensive education programme aims to raise awareness and understanding of the fragility of life on this planet, and our responsibility to help care for it.<br><br>
    We also support a range of targeted research projects which are designed to enhance our understanding of animals' behavioural and physiological needs, with many useful consequences for conservation in the wild.<br><br><br>
    </div>
    
    <ul>
        <li>
            <span  class="pic_display">
                <img src="https://www.edinburghzoo.org.uk/media/5930/stow-primary-habitats.jpg?anchor=center&mode=crop&width=315&height=250">
                <img src="https://www.edinburghzoo.org.uk/media/8290/ppl-funding2.jpg?anchor=center&mode=crop&width=200&height=200">
                <img src="https://www.edinburghzoo.org.uk/media/8610/06_21_giant-luzon-cloud-rat_jg-3.jpg?anchor=center&mode=crop&width=400&height=250">
                <img src="https://www.edinburghzoo.org.uk/media/8602/lab-2021-jen-and-jal.jpg?anchor=center&mode=crop&width=400&height=250">
            </span>
        </li>
    </ul>

    <h2 class="myabout">Scottish Visitor Attraction</h2>
    <div class="myabout">
    The Zoo is also one of Scotland's most popular visitor attractions, with over 800,000 visitors a year.<br><br>
    Open every day of the year with the exception of Christmas Day, we have four stars from the VisitScotland quality assurance scheme, and we work hard to offer our visitors a truly great day out.<br><br>
    </div>

    <img src="https://www.zsl.org/sites/default/files/image/2020-06/20022_ZSL_MembershipUpdateMay2020_EmailHeader_1000x336_AW.png">

{% endblock %}