{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Add an animal
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4" id="addAnimalHeader">
    <h1 class="jumbotron-heading">Add an animal to {{ category.category_name }}</h1>
</div>

<div class="container">
    <div class="row"  lang="en" id="addAnimalBody">
        <form role="form" id="animal_form" method="post" action="{% url 'rango:add_animal' category.slug %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br />
                {{ field }}<br />
                <div class="p-2"></div>
            {% endfor %}

            <br />
            <button class="btn btn-primary" type="submit" name="submit">Add Animal</button>
            <div class="p-5"></div>
        </form>
    </div>
</div>
{% endblock %}