{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.category_name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}

<h1 class="nav-item" id="categoryTitle">Type to find an Animal</h1>

<div id="searchContainer">

    <ul class="nav nav-list flex-column" id="searchBody">
        <form role="form" id="search_form" method="POST" action="{% url 'rango:search_animal' category.slug %}">
            {% csrf_token %}
            <li class="nav-item">
            <input class="search-query form-control" type="text" name="suggestion" value="" id="suggestion" />
            </li>
            <br/>
            <button class="btn btn-primary" type="submit" name="search">search</button><br />
            <br/>
        </form>
    </ul>

    {% if user.is_superuser %}
         <a id="addAnimalButton" href="{% url 'rango:add_animal' category.slug %}">
             <button class="btn btn-primary">Add Animal</button>
         </a>
    {% endif %}

    <p id="numOfVisit">Visit Views: {{ category.views }}</p>

    <hr>

    <div class="row">
        {% if category %}
            {% if animals %}
                <div class="panel-body">
                    <div class="list-group">
                    {% for animal in animals %}
                        <div class="list-group-item">
                            <h2 class="list-group-item-heading">
                               <a href="{% url 'rango:animal_profile' animal.animal_name %}">
                                    {% if animal.picture %}
                                        <img src="{{ MEDIA_URL }}{{ animal.picture }}" width="64" height="64" alt="Profile picture for {{ animal.animal_name }}" />
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}animals_images/default_animal_avatar.png" width="64" height="64" alt="Default animal avatar" />
                                    {% endif %}
                                </a>
                            </h2>
                            <h5 class="list-group-item-text">
                                <strong>Animal Name:&nbsp</strong> {{ animal.animal_name }}
                                <br/>
                                <br/>
                                <strong>Brief: &nbsp</strong>{{ animal.brief }}
                            </h5>

                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% else %}
                <strong id="noAnimalInCategory">No animals currently in category.</strong>
            {% endif %}

        {% else %}
        <p>The specified category does not exist.</p>
        {% endif %}
    </div>

</div>
{% endblock %}