{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}

    <ul class="nav nav-list flex-column">
        <li class="nav-item">Type to find a Animal</li>
        <form role="form" id="search_form" method="POST" action="{% url 'rango:search_animal' category.slug %}">
            {% csrf_token %}
            <li class="nav-item">
            <input class="search-query form-control" type="text" name="suggestion" value="" id="suggestion" />
            </li>
            <button class="btn btn-primary" type="submit" name="search">search</button>
        </form>
    </ul>
    <p>Visits: {{ category.views }}</p>

    <hr>

    <div class="row">
        {% if category %}
            {% if animals %}
                <div class="panel-body">
                    <div class="list-group">
                    {% for animal in animals %}
                        <div class="list-group-item">
                            <h2 class="list-group-item-heading">
                               <a href="{% url 'rango:animal_profile' animal.animal_name %}">
                                    {% if animal.picture %}
                                        <img src="{{ MEDIA_URL }}{{ animal.picture }}" width="64" height="64" alt="Profile picture for {{ animal.animal_name }}" />
                                    {% else %}
                                        <img src="{{ MEDIA_URL }}animals_images/default_animal_avatar.jpg" width="64" height="64" alt="Default animal avatar" />
                                    {% endif %}
                                </a>

                            </h2>
                            <h5 class="list-group-item-text">
                                Animal name: {{ animal.animal_name }}<br/>
                                brief: {{ animal.brief }}
                            </h5>

                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% else %}
                <strong>No animals currently in category.</strong>
            {% endif %}

            {% if user.is_authenticated %}
            <a href="{% url 'rango:add_animal' category.slug %}">Add Animal</a> <br />
            {% endif %}
        {% else %}
        <p>The specified category does not exist.</p>
        {% endif %}
    </div>
{% endblock %}