{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Gallery
{% endblock %}

{% block body_block %}
    <h3 id="galleryTitle">Our Gallery</h3>
<div class="container">
    <div class="gallery">
        <div class="gallery-bottom">
            <div class="gallery-1" style="margin-left: 11.5%">
                <div class="col-md-2 gallery-grid" style="display: inline-block; width: auto">
                    <a href="../../static/css/static/images/r2.jpg" ><img class="example-image" src="../../static/css/static/images/r2.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block; width: auto">
                    <a href="../../static/css/static/images/gl7.jpg"><img class="example-image" src="../../static/css/static/images/gl7.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block; width: auto">
                    <a href="../../static/css/static/images/gl4.jpg"><img class="example-image" src="../../static/css/static/images/gl4.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/gl6.jpg" ><img class="example-image" src="../../static/css/static/images/gl6.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/gl5.jpg" ><img class="example-image" src="../../static/css/static/images/gl5.jpg" alt=""/></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="gallery-1" style="margin-left: 11.5%">
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/gl2.jpg" ><img class="example-image" src="../../static/css/static/images/gl2.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/r6.jpg" ><img class="example-image" src="../../static/css/static/images/r6.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/r5.jpg" ><img class="example-image" src="../../static/css/static/images/r5.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/r1.jpg" ><img class="example-image" src="../../static/css/static/images/r1.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/r3.jpg" ><img class="example-image" src="../../static/css/static/images/r3.jpg" alt=""/></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="gallery-1" style="margin-left: 11.5%">
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/r4.jpg" ><img class="example-image" src="../../static/css/static/images/r4.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/g4.jpg" ><img class="example-image" src="../../static/css/static/images/g4.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/gl1.jpg" ><img class="example-image" src="../../static/css/static/images/gl1.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/gl3.jpg" ><img class="example-image" src="../../static/css/static/images/gl3.jpg" alt=""/></a>
                </div>
                <div class="col-md-2 gallery-grid" style="display: inline-block">
                    <a href="../../static/css/static/images/p4.jpg" ><img class="example-image" src="../../static/css/static/images/p4.jpg" alt=""/></a>
                </div>
                <div class="clearfix"></div>
            </div>
		 </div>
	 </div>
</div>

    <div id="bottomDec">

    </div>
{% endblock %}