{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-0">
    <div class="container">
        <h4 class="jumbotron-heading">Welcome.</h4>
        <div>
            <h5 class="h5">
            {% if user.is_authenticated %}
                Hey! {{ user.username }}!
            {% else %}
                hey there partner!
            {% endif %}
            </h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h5>Most Viewed Categories</h5>
                    <p class="card-text">
                    {% if categories %}
                    <ul class="list-group">
                    {% for category in categories %}
                        <li class="list-group-item"><a href="{% url 'rango:show_category' category.slug %}">{{ category.category_name }}</a></li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no categories present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-6">
                <div class="card-body">
                    <h5>Most Liked Animals</h5>
                    <p class="card-text">
                    {% if animals %}
                    <ul class="list-group">
                    {% for animal in animals %}
{#                        <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>#}
                        <li class="list-group-item">{{ animal.animal_name }}</li>

                    {% endfor %}
                    </ul>
                    {% else %}
                    <strong>There are no pages present.</strong>
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{#    <div id="map"></div>#}

</div>

    <hr >

<div id="map" style="width: auto;height: 300px"></div>




{% endblock %}