{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-0" id="indexContainner">
    <div  id="welcome_header" class="jumbotron-heading">
        <h1>Welcome to North Park Zoo!</h1>
        <span class="h5">
        {% if user.is_authenticated %}
            Hey! {{ user.username }}!
        {% else %}
            Hey there partner!
        {% endif %}
        </span>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-body">
                <h5>Most Viewed Categories</h5>
                <p class="card-text">
                {% if categories %}
                <ul class="list-group">
                {% for category in categories %}
                    <li id="indexList" class="list-group-item"><a href="{% url 'rango:show_category' category.slug %}">
                        {{ category.category_name }}</a></li>
                {% endfor %}
                </ul>
                {% else %}
                <strong>There are no categories present.</strong>
                {% endif %}
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-body">
                <h5>Most Liked Animals</h5>
                <p class="card-text">
                {% if animals %}
                <ul class="list-group">
                {% for animal in animals %}
                    <li id="indexList" class="list-group-item">{{ animal.animal_name }}</li>
                {% endfor %}
                </ul>
                {% else %}
                <strong>There are no pages present.</strong>
                {% endif %}
                </p>
            </div>
        </div>
    </div>

    <hr >
    You can follow the map...
    <div id="map" style="width: auto;height: 400px"></div>

    <br>

    <div id="indexBottom">
        <span class="s1">Use of Cookies on NPZ website</span>
        <span>Privacy Policy</span>
        <span>Terms and Conditions</span>
        <span>Legal Information</span>
        <span>Contact us</span>
    </div>

</div>

{% endblock %}