{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Other Profiles
{% endblock %}

{% block body_block %}
<div>

<div class="jumbotron p-4" id="listProfilesHeader">
    <h1 class="jumbotron-heading">User Profiles</h1>
</div>

<div class="container" id="listProfilesBody">
    <div class="row">
        {% if user_profile_list %}
        <div class="panel-body">
            <div class="list-group">
            {% for list_user in user_profile_list %}
                <div class="list-group-item" id="listProfiles">
                    <h4 class="list-group-item-heading" >
                        <a href="{% url 'rango:profile' list_user.user.username %}">
                            {% if list_user.picture %}
                                <img src="{{ MEDIA_URL }}{{ list_user.picture }}" width="80" height="80" alt="Profile picture for {{ list_user.username }}" />
                            {% else %}
                                <img src="{{ MEDIA_URL }}profile_images/default_avatar.jpg" width="80" height="80" alt="Default avatar" />
                            {% endif %}
                        </a>

                        username: {{ list_user.user.username }}
                    </h4>
                </div>
            {% endfor %}
            </div>
        </div>
        {% else %}
        <p>There are no users present on System.</p>
        {% endif %}
    </div>


</div>

<div id="listProfilesDecorator" >
</div>

</div>

{% endblock %}