{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
    <div>
<body>
<div class="jumbotron p-4" id="profileHeader">
    <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
</div>

<div class="container" id="profileBody">
    <div class="row">

        {% if user_profile.picture %}
            <img id="profileBodyPic" src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="250" height="250" alt="{{ selected_user.username }}'s profile image" />
        {% else %}
            <img id="profileBodyPic" src="{{ MEDIA_URL }}profile_images/default_avatar.jpg"  width="250" height="250" alt="Default avatar" />
        {% endif %}

        <div class="updateProfile">
            {% if selected_user == user %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
{#                {{ form.as_p }}#}
                <p>
                    phone:
                    <input type="text" name="phone" id="phone" value="{{ user_profile.phone }}">
                </p>
                <br>
                <p>
                    email:
                    <input type="email" name="email" id='email' value="{{ user_profile.user.email }}">
                </p>
                <br>
                <p>
                    picture:
                    <input type="file" name="picture" id="picture" >
                </p>
                <br>

                <input class="profileUpdate" type="submit" value="Update" />
            </form>
            {% else %}
            <p>
                <strong>Email: </strong>
                <a href="{{ user_profile.user.email }}">{{ user_profile.user.email }}</a>
                <br>
                <strong>Phone: </strong>
                <a href="{{ user_profile.phone }}">{{ user_profile.phone }}</a>
            </p>
            {% endif %}
        </div>

    </div>
</div>

    <div id="profileBottom">
    </div>

    <div id="profileBottomDec"></div>

</body>
    </div>
{% endblock %}