{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if user_profile.picture %}
            <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="300" height="300" alt="{{ selected_user.username }}'s profile image" />
        {% else %}
            <img src="{{ MEDIA_URL }}profile_images/default_avatar.jpg"  width="300" height="300" alt="Default avatar" />
        {% endif %}
        <br />
        <div class="updateProfile">
            {% if selected_user == user %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
{#                {{ form.as_p }}#}
                <p>
                    phone:
                    <input type="text" name="phone" id="phone" value="{{ user_profile.phone }}">
                </p>
                <p>
                    email：
                    <input type="email" name="email" id='email' value="{{ user_profile.user.email }}">
                </p>
                <p>
                    picture
                    <input type="file" name="picture" id="picture" >
                </p>

                <input type="submit" value="Update" />
            </form>
            {% else %}
            <p>
                <strong>Email: </strong>
                <a href="{{ user_profile.user.email }}">{{ user_profile.user.email }}</a>
                <br>
                <hr>
                <strong>Phone: </strong>
                <a href="{{ user_profile.phone }}">{{ user_profile.phone }}</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}